####################################
# Maven / Java
####################################
**/target/
**/out/
*.class

####################################
# IntelliJ IDEA
####################################
.idea/
**/.idea/
*.iml
*.iws
*.ipr

####################################
# VS Code
####################################
.vscode/

####################################
# Environment / Secrets
####################################
.env
*.env
application-local.properties

####################################
# Logs
####################################
*.log
logs/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Node / Frontend (si utilisé)
####################################
node_modules/
dist/
build/
