# Default ignored files
/../../../../Projets_Université/M1/Projet-Final/.idea/shelf/
/../../../../Projets_Université/M1/Projet-Final/.idea/workspace.xml
# Ignored default folder with query files
/../../../../Projets_Université/M1/Projet-Final/.idea/queries/
# Datasource local storage ignored files
/../../../../Projets_Université/M1/Projet-Final/.idea/dataSources/
/../../../../Projets_Université/M1/Projet-Final/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../Projets_Université/M1/Projet-Final/.idea/httpRequests/
